* { box-sizing: border-box; }
html, body { margin: 0; padding: 0 }
body { font-family: arial,helvetica,sans-serif }
#container { width: 100% }
#div-map, #div-timeline { margin: auto; }  

/*-- MAP --*/
.sea { fill: #c6dbef }
.coast-buffer { fill: #9ecae1 }
.rest { fill: #ffffcc }


/*-- TIMELINE --*/
#background { fill: #252525 }
#middle-line { stroke: #fb6a4a }
#timeline-icon-line { stroke: #d9d9d9 }
#timeline-icon-bg, #timeline-icon { fill: #fb6a4a }
#timeline-rect { fill: #6baed6 }
#timeline-name { fill: white }
#decades-bg { fill: white; fill-opacity: 0.6 }
#decades-nb { fill: #252525 }
